:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent: #2196f3;
  --logo-color: #000000;
  --hero-bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --nav-footer-color: rgba(255, 255, 255, 0.6);
  --icon: #afb1b8;
}
