.peculiarities {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.peculiarities__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 15px * 8) / 4);
    margin: 15px;
  }
}
// .peculiarities__item:nth-child(4n) {
//   margin: 0;
// }

.peculiarities__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarities__icon {
  width: 70px;
  height: 70px;
}

.peculiarities__title {
  margin-bottom: 10px;

  text-align: center;
  @include font(14px, 700, 16px);
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.peculiarities__text {
  color: var(--secondary-text-color);

  @include font(14px, 400, 24px);
}
