.title {
  margin-bottom: 30px;

  @include font(28px, 700, 33px);

  @media screen and (min-width: 1200px) {
    @include font(36px, 700, 42px);
    margin-bottom: 50px;
  }

  text-align: center;
}
